<div class="product-wrapper">
  <div class="sort-arrow" ng-click="handlePriceClick()">
    Sort by Price
    <span ng-show="price === -1">
      <i class="fa fa-arrow-up"></i>
    </span>
    <span ng-show="price === 1 || price === undefined">
      <i class="fa fa-arrow-down"></i>
    </span>
  </div>
  <div style="clear: both"></div>
  <div class="singleProduct text-center col-sm-3 col-xs-6" ng-repeat="product in products" style="margin-top: 30px;">
    <div class="pImage">
      <a ng-href="#/product/{{product._id}}">
        <img ng-src="{{product.pictures[0]}}">
      </a>
    </div>
    <div class="pName">
        <a ng-href="#/product/{{product._id}}">
          {{product.name}}
        </a>
    </div>
    <div class="pPrice">
    {{product.displayPrice}}
    </div>
    <add-to-cart></add-to-cart>
  </div>
  <div ng-show="products.length==0" class="text-center" style="margin-top: 30px;">
    <h3>Coming Soon!</h3>
  </div>
  <div style="clear: both"></div>
</div>
