<div class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header" style="float: left; max-width: 177px;">
      <!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button> -->
      <a class="navbar-brand" href="#/">
        <span><img src="/img/mean-retail-logo.png" /></span>
        MEAN Retail
      </a>
    </div>
    <table style="float: right; margin-right: -12px;">
      <tr>
        <td class="checkout" ng-show="user.user">
          <a ng-href="#/checkout" style="padding: 10px 12px 0 0;">
            <i class="fa fa-shopping-cart"></i>
          </a>
        </td>
        <td class="dropdown user" ng-show="user.user">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="padding: 0 0 4px 0;">
            <img ng-src="{{user.user.profile.picture}}" /> <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><button class="btn btn-primary btn-block" ng-click="logout()">Logout</button></li>
          </ul>
        </td>
        <td class="login fb-login" ng-show="!user.user">
          <a href="/auth/facebook" style="padding: 0;">
            <img src="//i.stack.imgur.com/LKMP7.png">
          </a>
        </td>
    </tr>
  </table>

    <div class="" id="bs-example-navbar-collapse-1">

      <!-- <ul class="nav navbar-nav navbar-right">
        <li class="checkout" ng-show="user.user">
          <a ng-href="#/checkout" style="padding: 10px 15px 0 0;">
            <i class="fa fa-shopping-cart"></i>
          </a>
        </li>
        <li class="dropdown user" ng-show="user.user">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="padding: 0 0 4px 10px;">
            <img ng-src="{{user.user.profile.picture}}" /> <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><button class="btn btn-primary btn-block" ng-click="logout()">Logout</button></li>
          </ul>
        </li>
        <li class="login fb-login" ng-show="!user.user">
          <a href="/auth/facebook" style="padding: 0;">
            <img src="//i.stack.imgur.com/LKMP7.png">
          </a>
        </li>
      </ul> -->
    </div><!-- /.navbar-collapse -->
  </div>
</div>
