<div class="product-details">
  <div class="crumbs">
    <div class="crumb" ng-repeat="ancestor in product.category.ancestors">
      <a ng-href="#/category/{{ancestor}}">
        {{ancestor}}
      </a>
      <div class="divider" ng-hide="$last">
        /
      </div>
    </div>
  </div>
  <div class="row">
    <div class="text-left col-xs-12 col-sm-5" style="margin-top: 30px">
      <img ng-src="{{product.pictures[0]}}" style="width: 280px;">
    </div>
    <div class="col-xs-12 col-sm-7">
      <h1>{{product.name}}</h1>
      <div style="font-size: 1.4em; padding-left: 5px;">{{product.displayPrice}}</div>
      <add-to-cart></add-to-cart>
    </div>
  </div>
</div>
