<div class="phone-section">
  <h3>Phones</h3>
  <hr>
  <div class="singleProduct text-center col-sm-3 col-xs-6" ng-repeat="product in products | filter: { category: { _id: 'Phones'}} | limitTo: 8">
    <div class="pImage">
      <a ng-href="#/product/{{product._id}}">
        <img ng-src="{{product.pictures[0]}}">
      </a>
    </div>
    <div class="pName">
        <a ng-href="#/product/{{product._id}}">
          {{product.name}}
        </a>
    </div>
    <div class="pPrice">
    {{product.displayPrice}}
    </div>
    <add-to-cart></add-to-cart>
  </div>
</div>

<div class="nonfiction-section">
  <h3>CookBooks</h3>
  <hr>
  <div class="singleProduct text-center col-sm-3 col-xs-6" ng-repeat="product in products | filter: { category: { _id: 'CookBooks'}} | limitTo: 8">
    <div class="pImage">
      <a ng-href="#/product/{{product._id}}">
        <img ng-src="{{product.pictures[0]}}">
      </a>
    </div>
    <div class="pName">
        <a ng-href="#/product/{{product._id}}">
          {{product.name}}
        </a>
    </div>
    <div class="pPrice">
    {{product.displayPrice}}
    </div>
    <add-to-cart></add-to-cart>
  </div>
</div>

<div class="clearfix"></div>

<div class="leadership-section">
  <h3>Leadership</h3>
  <hr>
  <div class="singleProduct text-center col-sm-3 col-xs-6" ng-repeat="product in products | filter: { category: { _id: 'Leadership'}} | limitTo: 8">
    <div class="pImage">
      <a ng-href="#/product/{{product._id}}">
        <img ng-src="{{product.pictures[0]}}">
      </a>
    </div>
    <div class="pName">
        <a ng-href="#/product/{{product._id}}">
          {{product.name}}
        </a>
    </div>
    <div class="pPrice">
    {{product.displayPrice}}
    </div>
    <add-to-cart></add-to-cart>
  </div>
</div>

<div class="clearfix"></div>

<div class="programming-section">
  <h3>Web Programming</h3>
  <hr>
  <div class="singleProduct text-center col-sm-3 col-xs-6" ng-repeat="product in products | filter: { category: { _id: 'Web Programming'}} | limitTo: 8">
    <div class="pImage">
      <a ng-href="#/product/{{product._id}}">
        <img ng-src="{{product.pictures[0]}}">
      </a>
    </div>
    <div class="pName">
        <a ng-href="#/product/{{product._id}}">
          {{product.name}}
        </a>
    </div>
    <div class="pPrice">
    {{product.displayPrice}}
    </div>
    <add-to-cart></add-to-cart>
  </div>
</div>


<!-- <div class="product" ng-repeat="product in products">
<div class="product-image">
<img ng-src="{{product.pictures[0]}}" />
</div>
<div class="product-name">
<a ng-href="#/product/{{product._id}}">
{{product.name}}
</a>
</div>
<div class="product-cost">
{{product.displayPrice}}
</div>
</div> -->
